/* Add this to your Career.css or a new stylesheet */
body,
html {
    background-color: black;
    /* Ensure the background is black for the entire page */
    color: white;
}

input,
textarea {
    background-color: #333;
    /* Dark grey background for inputs */
    border: 1px solid #444;
    /* Slightly lighter grey border */
    color: white;
    /* White text inside inputs */
}

button {
    background-color: #444;
    /* Dark grey background for button */
    color: white;
    /* White text for button */
    border: none;
    /* No border for a flat design */
}

.form-with-divider {
    position: relative;
}

.form-with-divider::after {
    content: "";
    position: absolute;
    left: 50%;  /* Positions the line in the middle of the form */
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc; /* Adjust color as needed */
}

.info-column {
    padding: 20px;
}

.text-sm-end {
    text-align: end;
}

.contact-text-header {
    font-size: 72px; /* Reduce font size for smaller devices */
}

.additional-content .content-divider {
    border-top: 1px solid #ccc; /* Adds a light grey top border to each row */
    margin-top: 20px; /* Adds space above the border for clarity */
    padding-top: 20px; /* Adds space below the border */
}

.col-sm-9-5 {
    width: 79.16666667%; /* (9.5 / 12) * 100% */
}

.col-sm-11-5 {
    width: 96%; /* (9.5 / 12) * 100% */
}

/* Base styles already seem optimized for dark mode presentation */
@media (max-width: 1238px) {
    .contact-text-header {
        font-size: 40px; /* Reduce font size for smaller devices */
    }

}

/* Enhanced Media Queries */
@media (max-width: 992px) { /* For tablets and below */
    .contact-text-header {
        font-size: 48px; /* Reduce font size for smaller devices */
    }

    .form-label, .btn-submit {
        font-size: 14px; /* Smaller font for better readability on small devices */
    }

    .form-control, textarea {
        font-size: 14px; /* Adjust input text size for better legibility */
    }

    .form-with-divider::after {
        width: 100%; /* Full width horizontal divider */
        height: 1px; /* Convert vertical divider to horizontal */
        left: 0; /* Reset left positioning */
        top: auto; /* Adjust top positioning */
    }

    .info-column, .additional-content {
        padding: 10px; /* Reduce padding for compact look */
    }
}

@media (max-width: 768px) { /* For mobile devices */
    .contact-text-header {
        font-size: 30px; /* Further reduce font size */
    }

    .ml-6, .ml-4 {
        margin-left: 15px; /* Adjust margins to fit small screens */
    }

    .btn-submit {
        width: 100%; /* Button width to full to accommodate smaller screens */
        margin-top: 20px; /* Add more space above the submit button */
    }

    .form-control, textarea {
        padding: 10px; /* Enhance padding for touch targets */
    }
}