.custom-width {
    flex: 0 0 23%;  /* Exact custom width if needed, matching the 'md={5}' setting */
    max-width: 23%;
}

.image-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 8px 0;
}

.image-part {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    width: 700px;  /* Consistent width for all images */
    height: auto;  /* Maintain aspect ratio */
    margin-right: 4px;  /* Space between images */
}

.image-part.focused {
    transform: scale(1.1);  /* Slightly enlarge the focused image */
    z-index: 10;  /* Ensure it's above others */
}

.image-part.dimmed {
    opacity: 0.5;  /* Dim non-focused images */
}


