.header-text-section {
    font-size: 74px;
}

.studio-content {
    font-size: 16px;
}

.focus-space {
    margin-top: 453.4122px;
}

.focus-border {
    border-style: visible;
}

.flex-col-direction {
    flex-direction: column;
}

.flex-row-direction {
    flex-direction: row;
}

@media (max-width: 1774px) {

    .header-text-section {
        font-size: 50px;
    }

    .studio-content { 
        font-size: 14px;
    }

    .focus-space {
        margin-top: 50px;
    }


}

@media (max-width: 992px) {

    .header-text-section {
        font-size: 30px;
    }

    .studio-content { 
        font-size: 10px;
    }

    .focus-space {
        margin-top: 50px;
    }


}

@media (max-width: 576px) {

    .header-text-section {
        font-size: 30px;
    }

    .studio-content { 
        font-size: 10px;
    }

    .focus-space {
        margin-top: 50px;
    }
    
    .focus-border {
        border-style: hidden;
    }

    .flex-col-direction {
        flex-direction: row;
    }
    
    .flex-row-direction {
        flex-direction: column;
    }

}