/* Navbar.css */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bg-transparent {
    background-color: transparent;
}

.text-white {
    color: white;
}

.no-underline {
    text-decoration: none;
}

.hover\:underline:hover {
    text-decoration: underline;
}

.h-12 {
    height: 3rem; /* Equivalent to h-12 in Tailwind CSS */
}

.navbar-logo {
    height: 3rem; /* 48px */
}

.navbar-hamburger {
    height: 3rem; /* 48px */
    display: flex;
    align-items: center;
}

.space-x-4 > :not(:last-child) {
    margin-right: 4px;
}

.slide-down {
    animation: slide-down 0.3s ease-in-out;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .md\\:hidden {
        display: none;
    }

    .md\\:flex {
        display: flex;
    }
}

@media (min-width: 768px) {
    .md\\:hidden {
        display: block;
    }
}