@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ProjectDetail {
  display: flex; /* Establishes a flex container */
  flex-wrap: nowrap; /* Prevents items from wrapping */
  overflow-x: auto; /* Enables horizontal scrolling */
  align-items: center; /* Centers items vertically */
  padding: 20px; /* Adds padding around the content */
}

.project-item {
  min-width: 600px; /* Ensures a minimum width for each item */
  margin-right: 10px; /* Adds space between items */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.fade-in-right.visible {
  transform: translateX(0%);
  opacity: 1;
}