@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary: white;
  --secondary: black;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

/* Left Arrow Effect */
@keyframes slideAnimationLeftOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-40%);
  }
}

.group:hover .hover-slide-left-arrow {
  animation: slideAnimationLeftOut 0.3s forwards;
  opacity: 1;
}

/* Right Arrow Effect */
@keyframes slideAnimationRightOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(40%);
  }
}

.group:hover .hover-slide-right-arrow {
  animation: slideAnimationRightOut 0.5s forwards;
  opacity: 1;
}

.hover-slide-left-arrow,
.hover-slide-right-arrow {
  opacity: 0;
  transition: opacity 0.5s;
}

/* Navber */
.navbar-black-bg {
  position: absolute;
  inset: 0;
  background-color: black;
  
}

.navbar-black-sub-bg {
  background-color: black;
}

.navbar-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  height: 97.4587px;
}

.navbar-content {
  position: relative;
  z-index: 10;
  font-size: large;
}

.search-text {
  font-size: large;
}

.space-control {
  margin-left: 1rem;
}

.logo {
  height: 5vh;
  width: auto;
}

/* Responsive Design */
@media (max-width: 1086px) {
  .navbar-content {
    position: relative;
    z-index: 10;
    font-size: 14px;
  }

  .search-text {
    font-size: 14px;
  }

  .space-control {
    margin-left: 0px;
  }

  .logo {
    height: 5vh;
    width: auto;
  }
}

@media (max-width: 953px) {
  .isPC {
    visibility: hidden;
    position: absolute;
  }

  .ham {
    visibility: hidden;
  }

  .logo {
    height: 5vh;
    width: auto;
  }
}

.transition-effect {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.transition-effect::before {
  content: '';
  position: absolute;
  background: white;
  height: 2px;
  width: var(--underline-width, 0); /* Use --underline-width to control the width */
  left: 0;
  bottom: 0;
  transition: width 0.7s ease-in-out;
}

.transition-effect:hover::before,
.transition-effect.active::before { /* Apply full width on hover or when active */
  width: 100%;
}

.search-box {
  position: absolute;
  top: 100%; /* Position the search box right below the navbar */
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adds a slight shadow for depth */
  z-index: 100; /* Ensures it sits above other elements */
}

.search-input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: white;
  font-size: 16px;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

/* Next Slide Animations */
.slide-animation-out-next {
  animation: slideAnimationOutNext 0.7s ease-in-out forwards;
}

@keyframes slideAnimationOutNext {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-animation-in-next {
  animation: slideAnimationInNext 0.7s ease-in-out forwards;
}

@keyframes slideAnimationInNext {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Previous Slide Animations */
.slide-animation-in-prev {
  animation: slideAnimationInPrev 0.7s ease-in-out forwards;
}

@keyframes slideAnimationInPrev {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-animation-out-prev {
  animation: slideAnimationOutPrev 0.7s ease-in-out forwards;
}

@keyframes slideAnimationOutPrev {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}


/* Logo Carousel */

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slide-left-infinite {
  animation: slide-left 20s linear infinite;
}


.mask-gradient {
  mask-image: linear-gradient(to right, transparent 0, white 128px, white calc(100% - 128px), transparent 100%);
}

.home-card {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.5s ease-out;
}