.studio-divider {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* Ensure responsive wrapping */
}

.studio-divider::after {
    content: "";
    position: absolute;
    left: 25%;  /* Set the divider at 35% */
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    display: block; /* Show divider */
}

.studio-image {
    width: 949.39px;
    height: 865.48px
}

.custom-width-left {
    flex: 0 0 35%; /* 35% width */
    max-width: 35%;
}

.custom-width-right {
    flex: 0 0 65%; /* Remaining space */
    max-width: 65%;
}

.text-header {
    font-size: 72px; /* Adjust font size responsively as needed */
    margin-bottom: 20px;
}

.content-divider {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

@media (max-width: 767px) {
    .studio-divider::after {
        display: none; /* Hide divider on smaller screens */
    }
    .text-header {
        font-size: 36px; /* Smaller font size for mobile */
    }
}

@media (max-width: 576px) {
    .custom-width-left, .custom-width-right {
        flex: 0 0 100%; /* Stack columns vertically on very small devices */
        max-width: 100%;
    }
}
