/* Career.css */
.left-aligned {
    max-width: 1920px;
    /* or whatever maximum width you prefer */
    /* margin-right: auto; */

    /* aligns the container to the left edge */
}

.email-link {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.form-label {
    color: white;
}

.form-control,
textarea.form-control,
.form-control:focus {
    background-color: rgba(24, 24, 24, 1);
    /* Dark grey with full opacity */
    border: 1px solid rgba(24, 24, 24, 1);
    /* Same color border to keep style consistent */
    color: #fff;
    /* White text */
    outline: none;
    /* Removes the default focus outline */
}

.btn-submit,
.btn-submit:hover {
    background-color: #000;
    /* Dark background */
    color: #fff;
    /* White text */
    border-bottom: 1px solid #fff;
    /* White border */
    font-size: 16px;
    /* Appropriate text size */
    /* Padding for button size */
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    /* Auto width based on content */
    /* No rounded corners */
}

.btn-submit .icon-right {
    margin-left: 5px;
    /* Space between text and icon */
}

.vertical-divider {
    border-right: 1px solid white;
    height: 100%;

}

hr {
    border-top: 1px solid white;
    opacity: 100;
}

.text-header {
    font-size: 2.25rem;
}

.space-height {
    height: 78px;
}

input.form-control {
    border-radius: 0;
    /* Removes rounded corners */
    background-color: rgba(24, 24, 24, 255);
    background-color: rgba(24, 24, 24, 1);
    /* Dark grey with full opacity */
    border: 1px solid rgba(24, 24, 24, 1);
    /* Same color border to keep style consistent */
    color: #fff;
    /* White text */
    outline: none;
}

.btn-upload,
.btn-upload:hover,
.btn-upload:active,
.btn-upload:focus,
.btn-upload:disabled {
    width: 200px;
    /* Adjust the width as necessary */
    height: 200px;
    /* Adjust the height as necessary */
    font-size: 5rem;
    /* Large "+" sign */
    line-height: 190px;
    /* Center the "+" vertically inside the button */
    text-align: center;
    border: none;
    background-color: transparent;
    /* Transparent background */
    color: white;
    /* White text color */
}

.file-name {
    color: white;
    /* Ensures the filename is visible against the black background */
    margin-top: 20px;
    /* Adds spacing above the file name */
}

@media (max-width: 1920px) {
    .left-aligned {
        max-width: 100%;
        padding: 0 20px;
        /* Add padding for smaller screens */
    }

    .text-header {
        font-size: 36px;
    }
}

@media (max-width: 1200px) {

    .btn-upload,
    .btn-upload:hover,
    .btn-upload:active,
    .btn-upload:focus,
    .btn-upload:disabled {
        width: 150px;
        height: 150px;
        font-size: 4rem;
        line-height: 140px;
    }

    .text-header {
        font-size: 1.25rem;
    }
}

@media (max-width: 992px) {

    .form-control,
    .btn-submit {
        font-size: 0.875rem;
    }

    .text-header {
        font-size: 1rem;
    }

    .btn-submit {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .vertical-divider {
        border-right: none;
        border-bottom: 1px solid white;
    }

    .btn-upload,
    .btn-upload:hover,
    .btn-upload:active,
    .btn-upload:focus,
    .btn-upload:disabled {
        width: 100px;
        height: 100px;
        font-size: 2.5rem;
        line-height: 95px;
    }

    .form-control,
    .btn-submit {
        font-size: 0.75rem;
    }
}

@media (max-width: 576px) {

    .form-label,
    .email-link {
        font-size: 0.75rem;
    }

    .text-header {
        font-size: 0.875rem;
    }

    .btn-submit,
    .btn-submit:hover {
        padding: 5px 10px;
    }
}